# For loop

In [5]:
# for loop from 0 to 2, therefore running 3 times

for x in range(0, 3):
    print 'We\'re on time %d' %(x)

print    
for x in range(0, 3):
    print 'We\'re on time', x

We're on time 0
We're on time 1
We're on time 2

We're on time 0
We're on time 1
We're on time 2

In [14]:
for x in range(3):
    print 'We\'re on time', x

We're on time 0
We're on time 1
We're on time 2

In [8]:
for x in xrange(3):
     print 'We\'re on time', x

We're on time 0
We're on time 1
We're on time 2

In [15]:
for x in range(3,6):
    print 'We\'re on time', x

We're on time 3
We're on time 4
We're on time 5

In [20]:
for x in range(3,13,3):
    print 'We\'re on time', x

We're on time 3
We're on time 6
We're on time 9
We're on time 12

In [7]:
y = [0, 1, 2]

for x in y:
    print 'We\'re on time', x

We're on time 0
We're on time 1
We're on time 2

In [210]:
# reverse
for i in reversed(range(0,5)):
    print i

4
3
2
1
0

In [202]:
# Enumerate
name_list = ['Olarik Surinta','John Wick', 'Bryan O\'Conner']

for idx, name in enumerate(name_list):
    print idx, name

0 Olarik Surinta
1 John Wick
2 Bryan O'Conner

In [207]:
name_list = ['Olarik Surinta','John Wick', 'Bryan O\'Conner']
age_list = [40, 45, 42]

print 'Name, Age'
for name, age in zip(name_list, age_list):
    print name, ',', age

Name, Age
Olarik Surinta , 40
John Wick , 45
Bryan O'Conner , 42

In [49]:
# prime number
primes = [1, 3, 5, 7, 11]

for prime in primes:
    print 'Prime No.', prime

Prime No. 1
Prime No. 3
Prime No. 5
Prime No. 7
Prime No. 11

## For Loops and If statements combined

In [177]:
my_movies = [['How I Met Your Mother', 'Friends', 'Silicon Valley'],
    ['Family Guy', 'South Park', 'Rick and Morty'],
    ['Breaking Bad', 'Game of Thrones', 'The Wire']]

for sublist in my_movies:
    for movie_name in sublist:
        char_num = len(movie_name)
        print("The title: " + movie_name + " is " + str(char_num) + " characters long.")

The title: How I Met Your Mother is 21 characters long.
The title: Friends is 7 characters long.
The title: Silicon Valley is 14 characters long.
The title: Family Guy is 10 characters long.
The title: South Park is 10 characters long.
The title: Rick and Morty is 14 characters long.
The title: Breaking Bad is 12 characters long.
The title: Game of Thrones is 15 characters long.
The title: The Wire is 8 characters long.

# Break statement

It brings control out of the loop

In [266]:
for letter in 'Hello World!':
    print 'Current letter :', letter
    if letter == 'W':        
        break

Current letter : H
Current letter : e
Current letter : l
Current letter : l
Current letter : o
Current letter :
Current letter : W

In [267]:
for letter in 'Hello World!':
    print 'Current letter :', letter
    if letter == 'W':        
        break

Current letter : H
Current letter : e
Current letter : l
Current letter : l
Current letter : o
Current letter :
Current letter : W

## Pass statement
We use pass statement to write empty loops.  
Pass is also used for empty control statement, function and classes.

In [272]:
for letter in 'Hello World!'.lower():
    print 'Current letter :', letter
    if letter == 'w':        
        break

Current letter : h
Current letter : e
Current letter : l
Current letter : l
Current letter : o
Current letter :
Current letter : w

In [275]:
# pass
for letter in 'Hello World!'.lower():
    pass
print 'Current letter :', letter

Current letter : !

In [187]:
# students = Lists
students = [['Olarik', 70],['Kevin', 35],['John', 55]]
grade = ''

for student in students:
    if student[1] >= 70:
        grade = 'Excellent'
    elif student[1] >= 50:
        grade = 'Pass'
    else:
        grade = 'Fail'
    
    print 'Student:', student[0], ', Grade:', grade

Student: Olarik , Grade: Excellent
Student: Kevin , Grade: Fail
Student: John , Grade: Pass

In [197]:
# students = Tuple
students = ('Olarik', 'Kevin', 'John')
grades = (70,35,55)
grade = ''

for i in range(0,len(students)):
    if grades[i] >= 70:
        grade = 'Excellent'
    elif grades[i] >= 50:
        grade = 'Pass'
    else:
        grade = 'Fail'
    
    print 'Student:', students[i], ', Grade:', grade

Student: Olarik , Grade: Excellent
Student: Kevin , Grade: Fail
Student: John , Grade: Pass

In [69]:
# prime number

for num in range(0,21):
    if num > 1:
        for i in range(2,num):
            if(num % i) == 0:
                break
        else:
            print num, 'is a prime number'

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number

In [226]:
fruits = ['apple','papaya','banana','orange']

for fruit in fruits:
    print fruit
    
print

for i in range(0, len(fruits)):
    print fruits[i]

apple
papaya
banana
orange

apple
papaya
banana
orange

In [211]:
# reverse
fruits = ['apple','papaya','banana','orange']

for fruit in reversed(fruits):
    print fruit

orange
banana
papaya
apple

In [212]:
# sort
fruits = ['apple','papaya','banana','orange']

for fruit in sorted(fruits):
    print fruit

apple
banana
orange
papaya

In [128]:
for x in range(1,11):
    print '*'*x

*
**
***
****
*****
******
*******
********
*********
**********

In [144]:
mx = 11
cnt = mx-1

for x in range(0,mx):
    print '*'*int(cnt)
    cnt -= 1

**********
*********
********
*******
******
*****
****
***
**
*

In [173]:
mx = 11
cnt = mx-1

for x in range(0,mx):
    print ' '*cnt, 'x'*x
    cnt -= 1

          x
         xx
        xxx
       xxxx
      xxxxx
     xxxxxx
    xxxxxxx
   xxxxxxxx
  xxxxxxxxx
 xxxxxxxxxx

In [162]:
mx = 11
cnt = mx-1
cnt_up = 0

for x in range(0,mx):
    print ' '*cnt_up, 'x'*int(cnt)
    cnt -= 1
    cnt_up += 1

 xxxxxxxxxx
  xxxxxxxxx
   xxxxxxxx
    xxxxxxx
     xxxxxx
      xxxxx
       xxxx
        xxx
         xx
          x

In [120]:
collection = ['Hello', 25, 'I', 0.25]

for x in collection:
    print x, ', type', type(x)

Hello , type <type 'str'>
25 , type <type 'int'>
I , type <type 'str'>
0.25 , type <type 'float'>

In [108]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for list in list_of_lists:
    print list

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [117]:
# print only minimum number in each list

list_of_lists = [[3, 2, 1], [5, 4, 6], [8, 9, 7]]

for list in list_of_lists:
    print 'min value in list:', list,'=', min(list)    
    print 'max value in list:', list,'=', max(list)
    print

min value in list: [3, 2, 1] = 1
max value in list: [3, 2, 1] = 3

min value in list: [5, 4, 6] = 4
max value in list: [5, 4, 6] = 6

min value in list: [8, 9, 7] = 7
max value in list: [8, 9, 7] = 9

In [90]:
# Multiplication Table
mul = 2
print '%d times table'% mul
for i in [1,2,3,4,5,6,7,8,9,10,11,12]:
    print 'i *', mul, '=', i*mul

2 times table
i * 2 = 2
i * 2 = 4
i * 2 = 6
i * 2 = 8
i * 2 = 10
i * 2 = 12
i * 2 = 14
i * 2 = 16
i * 2 = 18
i * 2 = 20
i * 2 = 22
i * 2 = 24

In [91]:
# Multiplication Table
mul = 3
print '%d times table'% mul
for i in range(1,13):
    print 'i *', mul, '=', i*mul

3 times table
i * 3 = 3
i * 3 = 6
i * 3 = 9
i * 3 = 12
i * 3 = 15
i * 3 = 18
i * 3 = 21
i * 3 = 24
i * 3 = 27
i * 3 = 30
i * 3 = 33
i * 3 = 36

# Nested For Loops

In [95]:
# Multiplication Table
print('Multiplication Table')

for i in range(2,13):
    print '\n%d times table'% i
    for j in range (1,13):
        print 'j *', i, '=', j*i

Multiplication Table

2 times table
j * 2 = 2
j * 2 = 4
j * 2 = 6
j * 2 = 8
j * 2 = 10
j * 2 = 12
j * 2 = 14
j * 2 = 16
j * 2 = 18
j * 2 = 20
j * 2 = 22
j * 2 = 24

3 times table
j * 3 = 3
j * 3 = 6
j * 3 = 9
j * 3 = 12
j * 3 = 15
j * 3 = 18
j * 3 = 21
j * 3 = 24
j * 3 = 27
j * 3 = 30
j * 3 = 33
j * 3 = 36

4 times table
j * 4 = 4
j * 4 = 8
j * 4 = 12
j * 4 = 16
j * 4 = 20
j * 4 = 24
j * 4 = 28
j * 4 = 32
j * 4 = 36
j * 4 = 40
j * 4 = 44
j * 4 = 48

5 times table
j * 5 = 5
j * 5 = 10
j * 5 = 15
j * 5 = 20
j * 5 = 25
j * 5 = 30
j * 5 = 35
j * 5 = 40
j * 5 = 45
j * 5 = 50
j * 5 = 55
j * 5 = 60

6 times table
j * 6 = 6
j * 6 = 12
j * 6 = 18
j * 6 = 24
j * 6 = 30
j * 6 = 36
j * 6 = 42
j * 6 = 48
j * 6 = 54
j * 6 = 60
j * 6 = 66
j * 6 = 72

7 times table
j * 7 = 7
j * 7 = 14
j * 7 = 21
j * 7 = 28
j * 7 = 35
j * 7 = 42
j * 7 = 49
j * 7 = 56
j * 7 = 63
j * 7 = 70
j * 7 = 77
j * 7 = 84

8 times table
j * 8 = 8
j * 8 = 16
j * 8 = 24
j * 8 = 32
j * 8 = 40
j * 8 = 48
j * 8 = 56
j * 8 = 64
j * 8 = 72
j * 8 = 80
j * 8 = 88
j * 8 = 96

9 times table
j * 9 = 9
j * 9 = 18
j * 9 = 27
j * 9 = 36
j * 9 = 45
j * 9 = 54
j * 9 = 63
j * 9 = 72
j * 9 = 81
j * 9 = 90
j * 9 = 99
j * 9 = 108

10 times table
j * 10 = 10
j * 10 = 20
j * 10 = 30
j * 10 = 40
j * 10 = 50
j * 10 = 60
j * 10 = 70
j * 10 = 80
j * 10 = 90
j * 10 = 100
j * 10 = 110
j * 10 = 120

11 times table
j * 11 = 11
j * 11 = 22
j * 11 = 33
j * 11 = 44
j * 11 = 55
j * 11 = 66
j * 11 = 77
j * 11 = 88
j * 11 = 99
j * 11 = 110
j * 11 = 121
j * 11 = 132

12 times table
j * 12 = 12
j * 12 = 24
j * 12 = 36
j * 12 = 48
j * 12 = 60
j * 12 = 72
j * 12 = 84
j * 12 = 96
j * 12 = 108
j * 12 = 120
j * 12 = 132
j * 12 = 144

In [260]:
# print index of lists

list_of_lists = [[1, 2, 3], [3, 4, 5, 6], [7, 7, 8, 9, 10]]

print 'List:'
for i in list_of_lists:
    print i

print '\nIndex:'
for i in range(0, len(list_of_lists)):    
    for j in range(0, len(list_of_lists[i])):        
        print('(%d,%d)'%(i,j)),
    print

List:
[1, 2, 3]
[3, 4, 5, 6]
[7, 7, 8, 9, 10]

Index:
(0,0) (0,1) (0,2)
(1,0) (1,1) (1,2) (1,3)
(2,0) (2,1) (2,2) (2,3) (2,4)

In [243]:
# multiple lists
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for list in list_of_lists:
    for l in list:
        print('%s'%l)
    print 

  
for list in list_of_lists:
    for l in list:
        print('%s'%l),
    print

1
2
3

4
5
6

7
8
9

1 2 3
4 5 6
7 8 9

In [247]:
list_of_lists = [[1, 2, 3], [3, 4, 5, 6], [7, 7, 8, 9, 10]]

for list in list_of_lists:
    for l in list:
        print('%s'%l),
    print 

print    
for i in range(0, len(list_of_lists)):
    print 'No. of elements', len(list_of_lists[i])
    for j in range(0, len(list_of_lists[i])):        
        print list_of_lists[i][j],
    print

print '\n'
for i in range(0, len(list_of_lists)):
    print 'No. of elements', len(list_of_lists[i])
    for j in range(0, len(list_of_lists[i])):        
        print list_of_lists[i][j]
    print

1 2 3
3 4 5 6
7 7 8 9 10

No. of elements 3
1 2 3
No. of elements 4
3 4 5 6
No. of elements 5
7 7 8 9 10


No. of elements 3
1
2
3

No. of elements 4
3
4
5
6

No. of elements 5
7
7
8
9
10