**Function**

การสร้างฟังก์ชัน (Function) ในโปรแกรมภาษาไพธอนนั้นจะใช้ keyword ในการสร้างคือ **def** ซึ่งมาจากคำว่า define

**ฟังก์ชันแบบไม่ส่งค่าพารามิเตอร์**

In [0]:
# ฟังก์ชัน showName() เป็นฟังก์ชันที่ไม่มีการส่งค่าพารามิเตอร์ (passing parameter) 

# ฟังก์ชันชื่อ showName()
def showName():
  print('Olarik Surinta')
  print('I\'m lecturer')

**ฟังก์ชันแบบที่มีการส่งค่าพารามิเตอร์**

In [0]:
# ฟังก์ชันชื่อ printName(name) สร้างขึ้นโดยให้ส่งค่าพารามิเตอร์ชื่อ name เข้าไปยังฟังก์ชัน
def printName(name):
  print('My name is ', name)

**การเรียกใช้ฟังก์ชัน - Calling a fuction**  
การเรียกใช้ฟังก์ชันจะต้องดูประเภทของฟังก์ชันก่อนว่าเป็นประเภทไหน   
เช่น เป็นฟังก์ชันแบบไม่ส่งค่าพารามิเตอร์ หรือฟังก์ชันแบบมีการส่งค่าพารามิเตอร์

In [0]:
# เรียกใช้ฟังก์ชันแบบไม่ส่งค่าพารามิเตอร์
showName()

Olarik Surinta
I'm lecturer

In [0]:
# เรียกใช้ฟังก์ชันแบบมีการส่งค่าพารามิเตอร์

printName('Olarik')

name = 'Marco'
printName(name)

My name is  Olarik
My name is  Marco

**ฟังก์ชันแบบกำหนดค่าเริ่มต้นของพารามิเตอร์ - default parameter value**  
ฟังก์ชันแบบกำหนดค่าเริ่มต้นของพารามิเตอร์ ทำได้โดยกำหนดค่าเริ่มต้นของพารามิเตอร์ (หรือตัวแปร) ไว้ที่จุดเริ่มต้นของฟังก์ชัน

In [0]:
# สร้างฟังก์ชันชื่อ fromCountry โดยกำหนดให้มี default parameter คือ name 
# และกำหนดให้พารามิเตอร์ name มีค่าเป็น 'Thailand'

def fromCountry(name = 'Thailand'):
  print('I come from', name)

In [0]:
# เรียกใช้ฟังก์ชัน fromCountry โดยส่งค่า 'Norway'

fromCountry('Norway')

I come from Norway

In [0]:
# เรียกใช้ฟังก์ชัน fromCountry โดยไม่ส่งค่าเข้าไปยังฟังก์ชัน
# ในกรณีนี้จะแสดงค่า default ซึ่งก็คือ 'Thailand'

fromCountry()

I come from Thailand

In [0]:
# เรียกใช้ฟังก์ชัน fromCountry โดยส่งค่า name = 'UK' เข้าไปยังฟังก์ชัน
# ซึ่งพารามิเตอร์ชื่อ name ตรงกับที่กำหนดไว้ตั้งแต่การตั้งค่าฟังก์ชัน

fromCountry(name = 'UK')

I come from UK

In [0]:
# เรียกใช้ฟังก์ชัน fromCountry โดยส่งค่า country = 'US' เข้าไปยังฟังก์ชัน
# ซึ่งพารามิเตอร์ชื่อ country ไม่ตรงกับที่กำหนดไว้ตั้งแต่การตั้งค่าฟังก์ชัน ทำให้เกิด error

fromCountry(country = 'US')

TypeError: ignored

**ฟังก์ชันแบบกำหนดให้ส่งค่าได้หลายพารามิเตอร์  **  
ฟังก์ชันสามารถกำหนดให้รับค่าได้หลายพารามิเตอร์ในการเรียกใช้หนึ่งครั้ง

In [0]:
def printUserInfo(name, surname, age, country):
  print('Hello!')
  print('My name is', name, surname)
  print('I\'m', age, 'years old')
  print('I come from', country)

In [7]:
printUserInfo('olarik', 'surinta', 40, 'Thailand')

Hello!
My name is olarik surinta
I'm 40 years old
I come from Thailand

**ลำดับของพารามิเตอร์ที่ส่งไปยังฟังก์ชัน**  
ในกรณีที่กำหนดให้ฟังก์ชันมีค่าเริ่มต้น เช่น   
  

```
def printInfo(city='Maha Sarakham', country='Thailand'):
```
  
 จากกรณีข้างต้น ผู้ใช้สามารถส่งพารามิเตอร์เข้าไปยังฟังก์ชันโดยสลับตำแหน่งของพารามิเตอร์ได้  
 แต่ในการส่งค่าพารามิเตอร์จะต้องกำหนดชื่อของพารามิเตอร์ด้วยทุกครั้ง

In [0]:
def cityInfo(city='Maha Sarakham', country='Thailand'):
  print('I come from', city, ',', country)

In [15]:
# calling fucntion
cityInfo(country='UK', city='Liverpool')

cityInfo(city='New York', country='US')

I come from Liverpool , UK
I come from New York , US

**ฟังก์ชันแบบคืนค่าพารามิเตอร์ - return**

In [0]:
# ตัวอย่างฟังก์ชันการแปลงองศาเซลเซียสเป็นฟาเรนไฮต์
def cel2fah(celsius):  
  fahrenheit = ((9.0/5.0) * celsius) + 32
  
  # การคืนค่า - return
  return fahrenheit

# ตัวอย่างฟังก์ชันการแปลงองศาฟาเรนไฮต์เป็นเซลเซียส
def fah2cel(fahrenheit):
  celsius = (fahrenheit - 32) * (5.0/9.0)
  
  return celsius

In [26]:
celsius = 32.22
print('Temperature: ', celsius, 'Celsius = ', cel2fah(celsius), 'F')

fahrenheit = 90
print('Temperature: ', fahrenheit, 'Fahrenheit = ', fah2cel(fahrenheit), 'C')

Temperature:  32.22 Celsius =  89.99600000000001 F
Temperature:  90 Fahrenheit =  32.22222222222222 C

**การ return มากกว่า 1 ค่า**

In [0]:
def cityInfo(city):
  if(city == 'Bangkok'):
    population = '9M.'
    area = '1569 square km.'
  elif(city == 'London'):
    population = '8.2M.'
    area = '1572 square km.'
  else:
    population = 'None'
    area = 'None'
  
  return population, area

In [53]:
city = 'London'
population, area = cityInfo(city)

print('Area of', city, 'is', area)
print('Number of population in', city, 'is', population)

Area of London is 1572 square km.
Number of population in London is 8.2M.

In [55]:
city = 'Bangkok'
population, area = cityInfo(city)

print('Area of', city, 'is', area)
print('Number of population in', city, 'is', population)

Area of Bangkok is 1569 square km.
Number of population in Bangkok is 9M.